.modal_dialog {
	width: 480px;
	height: 210px;
	background-color: #def;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	-webkit-border-radius: 20px;

	.header {
		font-size: 30px;
		padding: 12px;
		background-color: #bce;
		-webkit-border-radius: 20px 20px 0px 0px;
	}
	.content {
		padding: 20px;
		font-size: 22px;
	}
	.footer {
		padding: 20px;
	}
	.button {
		float: right;
		text-align: center;
		width: 100px;
		display: inline-block;
		padding: 10px;
		margin-left: 20px;
		background-color: #bbb;
		-webkit-border-radius: 10px;
		text-decoration: none;
		font-weight: bold;
	}
	.button:hover {
		background-color: #ccc;
	}

	
}

#iframe-wrapper {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	padding: 2% 13%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	 pointer-events: none;

	iframe {
		pointer-events: visible;
		background-color: #efe;
		border: #333 1px solid;
	}

}
