html {
	
}

#textinput {
	width: 500px;
	height: 200px;
}

#output p {
	margin: 0;
}

#output .source {
	color: gray;
	margin-top: 10px;
}

#output .result {
	color: black;
}

#output .error {
	color: red;
}

html, svg {
	-webkit-font-smoothing: antialiased;
}

html, body , #top-wrapper, #top-wrapper > svg {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.meteo {
	font-family: 'MeteoconsRegular';
	font-size: 120px;
}

.button.disabled {
	fill-opacity: 0.5;
}
.button .disabled .background {
	fill: lightgray;
}

.button:hover {
	fill-opacity: 0.8;	
	filter: url(assets/filters/filters.svg#grayscale);
}
.button:hover  .overlay {
	fill: salmon;
	fill-opacity: 0.2;
}

.wow-widget.iconbutton.disabled .button {
	opacity: 0.3;
}
.wow-widget.iconbutton.disabled .button:hover {
	opacity: 0.3;
	fill-opacity: 1;
	filter: none;
}

.wow-widget.iconbutton.disabled .button:hover .overlay {
	fill: none;
	fil-opacity: 1;
}

.youtube-result.disabled {
	fill-opacity: 0.2;
	stroke-opacity: 0.2;
}

		.modal_dialog {
			width: 480px;
			height: 210px;
			background-color: #def;
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			-webkit-border-radius: 20px;
		}
		.modal_dialog .header {
			font-size: 30px;
			padding: 12px;
			background-color: #bce;
			-webkit-border-radius: 20px 20px 0px 0px;
		}
		.modal_dialog .content {
			padding: 20px;
			font-size: 22px;
		}
		.modal_dialog .footer {
			padding: 20px;
		}
		.modal_dialog .button {
			float: right;
			text-align: center;
			width: 100px;
			display: inline-block;
			padding: 10px;
			margin-left: 20px;
			background-color: #bbb;
			-webkit-border-radius: 10px;
		}
		.modal_dialog .button a:link {
			text-decoration: none;
			font-weight: bold;
		}
