.fifteen {
  position: relative;
  background-color: #aaa;
  width: 448px;
  height: 448px;
}
 
.fifteen .tile {
  position: relative;
  width: 110px;
  height: 110px;
  background-color: orange;
  border: 1px solid #333;
  color: black;
  font-size: 75px;
  text-align: center;
  line-height: 110px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

.tile {
  background-image:
    /* multiple backgrounds! */ 
    linear-gradient(
      rgba(200, 200, 100, 0.45), 
      rgba(200, 200, 100, 0.45)
    ),
    url(../media/backgrounds/games-448.png);
  background-repeat: no-repeat;
  background-size: 448px 448px;
  background-opacity: 0.5;

  color: black;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.tile1 { background-position: 0px 0px; }
.tile2 { background-position: -112px 0px; }
.tile3 { background-position: -224px 0px; }
.tile4 { background-position: -336px 0px; }
.tile5 { background-position: 0px -112px; }
.tile6 { background-position: -112px -112px; }
.tile7 { background-position: -224px -112px; }
.tile8 { background-position: -336px -112px; }
.tile9 { background-position: 0px -224px; }
.tile10 { background-position: -112px -224px; }
.tile11 { background-position: -224px -224px; }
.tile12 { background-position: -336px -224px; }
.tile13 { background-position: 0px -336px; }
.tile14 { background-position: -112px -336px; }
.tile15 { background-position: -224px -336px; }
.tile16 { background-position: -336px -336px; }

.fifteen .tile.empty {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}