.icon.arrow-cycle {
  background-image: url(../media/icons/arrow_cycle.png);
}
.icon.exit {
  background-image: url(../media/icons/exit.png);
}
.icon.arrow_diagleft {
  background-image: url(../media/icons/arrow_diagleft.png);
}
.icon.arrow_diagright {
  background-image: url(../media/icons/arrow_diagright.png);
}
.icon.no_entry {
  background-image: url(../media/icons/no_entry.png);
}
.icon.arrow_down {
  background-image: url(../media/icons/arrow_down.png);
}
.icon.pause {
  background-image: url(../media/icons/pause.png);
}
.icon.arrow_leftdown {
  background-image: url(../media/icons/arrow_leftdown.png);
}
.icon.plus {
  background-image: url(../media/icons/plus.png);
}
.icon.arrow_left {
  background-image: url(../media/icons/arrow_left.png);
}       
.icon.quit {
  background-image: url(../media/icons/quit.png);
}
.icon.arrow_leftright {
  background-image: url(../media/icons/arrow_leftright.png);
}  
.icon.restart {
  background-image: url(../media/icons/restart.png);
}
.icon.arrow_rightdown {
  background-image: url(../media/icons/arrow_rightdown.png);
}
.icon.run {
  background-image: url(../media/icons/run.png);
}
.icon.arrow_right {
  background-image: url(../media/icons/arrow_right.png);
}
.icon.scores {
  background-image: url(../media/icons/scores.png);
}
.icon.arrow_updown {
  background-image: url(../media/icons/arrow_updown.png);
}
.icon.settings {
  background-image: url(../media/icons/settings.png);
}
.icon.arrow_up {
  background-image: url(../media/icons/arrow_up.png);
}
.icon.star {
  background-image: url(../media/icons/star.png);
}
.icon.checkmark {
  background-image: url(../media/icons/checkmark.png);
}
.icon.warning {
  background-image: url(../media/icons/warning.png);
}
.icon.chess {
  background-image: url(../media/icons/chess.png);
}
.icon.web_search {
  background-image: url(../media/icons/web_search.png);
}
.icon.comment_plain {
  background-image: url(../media/icons/comment_plain.png);
}    
.icon.yield {
  background-image: url(../media/icons/yield.png);
}
.icon.cross {
  background-image: url(../media/icons/cross.png);
}
