body {
  background-color: #eee;
}

.hidden {
  display: none;
}

.container {
  width: 960px;
  height: 600px;
  margin: 0;
  padding: 0;
}

.container .info {
  background-color: none;
  text-align: center;
  width: 100%;
  margin: 0px 0px 0px 100px;
  padding: 0;
}

.container .info .title {
  display: inline-block;
  width: 360px;
  padding: 5px 10px;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}

.container .info .logs {
  display: inline-block;
  width: 460px;
  margin: 5px 20px 5px 20px;
  font-size: 28px;
}

.container .info .log {
  display: inline-block;
  margin: 0px 10px;
}

.container .info .log.hidden {
  display: none;
}

.container .nav {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 64px;
  padding: 16px;
  display: inline-block;
  vertical-align: top;
  background-color: #ddc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;  
}

.container .tabs {
  display: block;
  vertical-align: top;
  margin-left: 100px;
  background-color: #ddc;
  width: 700px;
  height: 450px;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.container .tab h3 {
  padding: 8px 0px;
  margin: 0px;
}

button.game {
  border: 0;
  width: 64px;
  height: 64px;
  color: transparent;
  background: none;
}

button.game:disabled {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

button.game-new {
  background-image: url(../media/icons/run.png);
  background-size: 100% auto;
}

button.game-quit {
  background-image: url(../media/icons/quit.png);
  background-size: 100% auto;
}

button.game-restart {
  background-image: url(../media/icons/restart.png);
  background-size: 100% auto;
}

button.game-pause {
  background-image: url(../media/icons/pause.png);
  background-size: 100% auto;
}

button.game-info {
  background-image: url(../media/icons/info.png);
  background-size: 100% auto;
}

button.game-rules {
  background-image: url(../media/icons/chess.png);
  background-size: 100% auto;
}

button.game-scores {
  background-image: url(../media/icons/scores.png);
  background-size: 100% auto;
}

button.game-settings {
  background-image: url(../media/icons/settings.png);
  background-size: 100% auto;
}

.splash {
  position: absolute;
  width: 400px;
  height: 40px;
  background-color: #cde;
  top: 50%;
  left: 50%;
  margin-left: -210px;
  margin-top: -30px;
  padding: 10px;
  font-size: 40px;
  text-align: center;
  border: 1px solid #333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;

} 

.splash-overlay {
  position: absolute;
  left: 168px;
  top: 52px;
  background-color: rgba(208,208,192,0.8);
  width: 700px;
  height: 447px;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;  
}

/*  bar for showing up to 5 lives */
.lifebar {
  width: 0px;
  height: 32px;
  background-image: url(../media/icons/heart.png);
  background-repeat: repeat-x;
}
.lifebar-wrapper {
  width: 160px;
  height: 32px;
  display: inline-block;
}
