
.node .field .title {
  display: block;
  font-weight: bold;
  color: #008;
}
.node .field .value {
  display: block;
  margin: 0px 0px 10px 20px;
}
.node .field-ownerAdminId,
.node .field-created,
.node .field-title,
.node .field-description,
.node .field-tags {
  display: none;
}
.node.admin {
  background-color: #ffe;
}
.node.app {
  background-color: #fef;
}
.node.article {
  background-color: #eff;
}
/*
@import "nodes/image.less";
@import "nodes/video.less";
@import "nodes/voice.less";
@import "nodes/json.less";
@import "nodes/netRadio.less";
@import "nodes/user.less";
@import "nodes/usergroup.less";
@import "nodes/album.less";
@import "nodes/scrapbook.less";
@import "nodes/youTubeVideo.less";
@import "nodes/preset.less";
@import "nodes/location.less";
@import "nodes/theme.less";
@import "nodes/shortcut.less";
@import "nodes/file.less";
*/
.ui-tabs {
  zoom: 1;
}
.ui-tabs .ui-tabs-nav {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
}
.ui-tabs .ui-tabs-nav li {
  position: relative;
  float: left;
  margin: 0 3px -2px 0;
  padding: 0;
}
.ui-tabs .ui-tabs-nav li:first-child {
  margin-left: 20px;
}
.ui-tabs .ui-tabs-nav li a {
  display: block;
  padding: 8px 16px;
  border: 1px solid #BA8AA3;
  border-bottom-color: #ccc;
  outline: none;
  text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.activeli a {
  background-color: white;
  border-bottom-color: #fff;
}
.ui-tabs .ui-tabs-nav li a img {
  width: 80px;
  height: 80px;
}
.ui-tabs .ui-tabs-nav li a span {
  display: block;
  text-align: center;
  font-size: 12px;
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  padding: 8px 16px 8px 16px;
  background: #fff;
  border-bottom-style: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
  cursor: default;
}
.ui-tabs .ui-tabs-nav li div,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
  cursor: pointer;
}
.ui-tabs .ui-tabs-panel,
.ui-tabs .ui-subtabs-panel {
  display: block;
  clear: both;
  border: 2px #ccc solid;
  padding: 10px;
}
.ui-tabs .ui-tabs-hide {
  display: none;
}
.pickeyboard {
  border: 1px solid #aaa;
  width: 320px;
}
.pickeyboard .display {
  height: 106px;
  width: 320px;
  background-color: #aaf;
  text-align: center;
}
.pickeyboard .keys {
  width: 320px;
  height: 200px;
  text-align: center;
}
.pickeyboard .pickey {
  width: 64px;
  height: 64px;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: relative;
}
.pickey-img {
  width: 100%;
  height: 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.pickey-char {
  display: inline-block;
  padding: 5px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: rgba(219, 198, 198, 0.63);
  border-radius: 5px;
}
.pickeyboard .display .pickey {
  width: 100px;
  height: 100px;
  padding: 3px;
}
.pickeyboard .pickey {
  position: relative;
  display: inline-block;
}
.pickeyboard .icon-empty {
  background-image: url(/icons/PNG/128/empty.png);
}
.pickeyboard .icon-back {
  background-image: url(/icons/PNG/128/arrow_left.png);
}
.pickeyboard .icon-check {
  background-image: url(/icons/PNG/128/checkmark.png);
}
.pickeyboard .icon-cross {
  background-image: url(/icons/PNG/128/cross_red.png);
}
#pickeyboard {
  width: 320px;
  height: 310px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.node-preview {
  position: relative;
  width: 98px;
  height: 98px;
  border: 1px solid #ddd;
  pointer-events: none;
}
.node-preview .thumbnail {
  width: 100%;
  height: 100%;
}
.node-preview .thumbnail img {
  width: 100%;
  height: 100%;
}
.node-preview .type-thumbnail {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  padding: 2px;
  background: rgba(255, 255, 0, 0.7);
  border-radius: 8px;
  opacity: 0.3;
}
.node-preview .type-thumbnail img {
  width: 100%;
  height: 100%;
}
.node-preview .title {
  position: absolute;
  display: block;
  top: 80px;
  left: 0px;
  font-size: 12px;
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.7;
}
.node-preview .title span {
  display: inline-block;
  max-width: 88px;
  padding: 0px 5px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
}
.node-preview:hover .title {
  opacity: 1;
}
.node-preview:hover .type-thumbnail {
  opacity: 1;
}
.node-preview-short {
  margin-bottom: 10px;
}
.node-preview-short .thumbnail {
  width: 100px;
  height: 100px;
  margin: 0px 10px 0px 0px;
  display: inline-block;
}
.node-preview-short .thumbnail img {
  width: 100%;
  height: 100%;
}
.node-preview-short .rest {
  display: inline-block;
  vertical-align: top;
}
.node-preview-short .rest .type-thumbnail {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.node-preview-short .rest .type-thumbnail img {
  width: 100%;
  height: 100%;
}
.node-preview-short .rest .type-title {
  display: inline-block;
}
.node-preview-short .rest .title {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0px;
}
.node-preview-short .rest .description {
  color: #333;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 5px;
}
.node-preview-short .rest .created {
  font-size: 12px;
}
.node-preview-short .rest .tags {
  font-size: 14px;
}
.node-preview-wrapper.view-default {
  margin: 4px;
  display: inline-block;
}
.node-preview-wrapper.view-short {
  padding: 4px;
  display: block;
  background: #fff5ea;
}
.node-preview-wrapper.view-short:nth-child(odd) {
  background-color: #dfdfdf;
}
.node-preview-head {
  margin-bottom: 10px;
}
.node-preview-head .thumbnail {
  width: 150px;
  height: 150px;
  margin: 0px 10px 0px 0px;
  display: inline-block;
}
.node-preview-head .thumbnail img {
  width: 100%;
  height: 100%;
}
.node-preview-head .rest {
  display: inline-block;
  vertical-align: top;
}
.node-preview-head .rest .type-thumbnail {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
.node-preview-head .rest .type-thumbnail img {
  width: 100%;
  height: 100%;
}
.node-preview-head .rest .type-title {
  display: inline-block;
  font-size: 20px;
}
.node-preview-head .rest .title {
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0px;
}
.node-preview-head .rest .description {
  color: #333;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 5px;
}
.node-preview-head .rest .created {
  font-size: 14px;
}
.node-preview-head .rest .tags {
  font-size: 16px;
}
.userlogin-users {
  position: relative;
}
.userlogin-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/assets/backgrounds/default.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.userlogin-users {
  padding: 20px;
}
.userlogin-user {
  border: 1px solid #333;
  background-color: #ceb;
  display: inline-block;
  width: 140px;
  height: 180px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.userlogin-user.active {
  background-color: #ebc;
}
.userlogin-user > img {
  width: 100px;
  height: 100px;
  padding: 9px 18px;
}
.userlogin-user > h3 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#top-wrapper {
  overflow: auto;
}
.dropzone {
  background-color: #fce;
  border: 2px dashed #ccc;
}
.dropzone.error {
  background-color: salmon;
}
.dropzone.accepted {
  background-color: greenyellow;
}
#video-dropzone {
  width: 124px;
  height: 94px;
}
#radio-dropzone {
  padding: 20px;
  display: inline-block;
}
#radiotitle-textfield {
  width: 400px;
}
#radiourl-textfield {
  width: 400px;
}
.admin {
  margin: 10px;
}
.admin h1 {
  padding: 8px;
  margin: 0px;
}
.admin .admin-nav {
  padding: 10px;
}
.admin .admin-nav a {
  text-decoration: none;
}
.admin .admin-body {
  margin: 0px;
  padding: 10px;
}
.admin .admin-body .panel {
  background-color: red;
  margin: 20px 0px;
  padding: 0px;
  -webkit-border-radius: 12px;
}
.admin .admin-body .panel > h2 {
  background-color: #cee;
  padding: 8px;
  margin: 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
}
.admin .admin-body .panel > .panel-body {
  background-color: #ded;
  margin: 0px;
  padding: 10px 20px;
  -webkit-border-radius: 0px 0px 10px 10px;
}
.admin .admin-body .panel > .panel-body label > span {
  display: inline-block;
  width: 160px;
}
.admin .admin-body .panel > .panel-body .buttons {
  padding: 10px;
}
#adminlogin-form {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fed;
}
#adminlogin-form .adminlogin-avatar {
  text-align: center;
  padding: 15px;
}
#adminlogin-form .adminlogin-title h2 {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
#adminlogin-form .adminlogin-controls label > span {
  display: inline-block;
  width: 100px;
}
#adminlogin-form .adminlogin-controls > div {
  margin-top: 5px;
}
#adminlogin-form #adminlogin-submit {
  margin-left: 100px;
}
a.disabled {
  text-decoration: none;
  color: gray;
}
html,
body {
  overflow: auto;
}
#allpurpose-dropzone,
#node-dropbox {
  display: inline-block;
}
#node-dropbox {
  width: 500px;
  height: 250px;
  background-color: #fed;
}
.dropzone {
  background-color: #fce;
  border: 4px dashed #ccc;
  padding: 10px;
}
.dropzone.error {
  background-color: salmon;
}
.dropzone.accepted {
  background-color: greenyellow;
}
.dropzone {
  width: 160px;
  height: 160px;
  overflow: hidden;
}
.dropzone > img {
  width: 100%;
}
.node-menu .node-control {
  position: relative;
  display: inline-block;
  width: 100px;
}
.node-menu .node-control > h3 {
  font-size: 14px;
  text-align: center;
  margin: 0px;
}
.node-menu .node-control > img {
  width: 100px;
  height: 100px;
}
.node-menu .node-control.selected {
  background-color: #abc;
}
#searchlinks {
  padding: 5px;
}
#searchlinks > a {
  margin: 0px 5px;
  text-decoration: none;
  font-weight: bold;
}
#searchlinks > a.current {
  color: black;
  pointer-events: none;
}
.type-selector img {
  width: 32px;
  height: 32px;
  opacity: 0.2;
}
.type-selector img.selected {
  opacity: 1;
}
