<style> 
html, body {
	font-family: Helvetica, arial, freesans, clean, sans-serif;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre.exampletag {
	width: 600px;
	padding: 10px;
	background-color: #abc;
	border: 1px solid #333;
}

.attributes { margin-left: 20px; } 

.attr-info .name { display: inline-block; width: 200px; } 

.attr-info .type { display: inline-block; width: 100px; }

.attr-info.required {
	color: #600;
}

.widgets-info {
	padding: 16px;
}

.widget-info {
	background-color: #eee;
	margin-bottom: 20px;
	padding: 6px;
}

</style>