<div class="widget-info">
	<h2>{{title}}</h2>
	<div class="description">{{description}}</div>
	<div class="author">Author: {{author}}</div>
	<div class="version">Version: {{version}}</div>
	<pre class="exampletag">{{tag}}</pre>
	<h4>List of Attributes</h4>
	<div class="attributes">{{{attrs}}}</div>
</div>