{{#yield-title}}
Admin Page
{{/yield-title}}
{{#yield-css}}
<link rel="stylesheet" href="/css/admin.bundle.css" type="text/css" /> 
{{/yield-css}}
{{#yield-script}}
<script type="text/javascript" src="/js/admin.libs.js"></script>
<script type="text/javascript" src="/js/admin.bundle.js"></script>
<script>
var editableNodes = {{{editableNodes}}};
var pageMode = "{{mode}}"
var node = {{{node}}};
var nodeType = "{{nodeType}}"
$(function() {

    // new i18n... 
    i18n.init({ 
      resGetPath: '/locales/__lng__/__ns__.json', 
      lng: '{{locale}}',
      ns: { 
          namespaces: ['core'], 
          defaultNs: 'core'
        } 
    }, function(__) {
		var AdminPage = require("AdminPage")($, __, pageMode, editableNodes, node, nodeType)
    });

})
</script>
{{/yield-script}}
<div class="admin">

	<h1>Admin Page</h1>
	{{> admin-nav}}
	<div class="admin-body">

		<div id="admintabs" class="ui-tabs">
			<ul id="admintabs-nav" class="ui-tabs-nav">
				<li><a href="#quickstart">Quick Start</a></li>
				<li><a href="#search">Search</a></li>
				<li><a href="#new">New</a></li>
				{{#nodeView}}
				<li><a href="#view">View</a></li>
				<li><a href="#edit">Edit</a></li>
				<li><a href="#remove">Remove</a></li>
				{{/nodeView}}
			</ul>
			<div id="quickstart" class="ui-tabs-panel">
	          <h2>Quick Start</h2>
	          <div id="testarea">
	          </div>
	          <div>
	            <div id="allpurpose-dropzone" class="dropzone">
	              Drop anything here
	            </div>
	            <div id="node-dropbox">
	            </div>
	          </div>
	          <h3>Most recent items:</h3>
	          <div id="recentitems"></div>
			</div>
			<div id="search" class="ui-tabs-panel">
	          <h2>Search</h2>
	          <div id="searchcontrol">
	          	<input type="hidden" name="searchpage" value="1"></input>
	          	<input type="hidden" name="searchtypes" value=""></input>
	          	<input type="text" name="searchquery"></input>
	          	<button id="searchbutton">Search</button>
	          </div>
	          <h3>Items found:</h3>
	          <div id="searchlinks"></div>
	          <div id="searchresults"></div>
			</div>
			<div id="new" class="ui-tabs-panel">
	          <h2>New</h2>
	          <div id="newnode" class="node-menu"></div>
			  <div id="newnodeform">
				<div class="form"></div>
			  </div>
			</div>
			{{#nodeView}}
			<div id="view" class="ui-tabs-panel">
	          	<h2>View</h2>
				{{> nodepreview-head}}
				<div>
				{{{nodeView}}}
				</div>
			</div>
			<div id="edit" class="ui-tabs-panel">
	          	<h2>Edit</h2>
				{{> nodepreview-head}}
				<div id="editnodeform">
					<div class="form"></div>
			  		</div>
				</div>
			<div id="remove" class="ui-tabs-panel">
	          	<h2>Remove</h2>
				{{> nodepreview-head}}
				<div>
				<button id="removeitembtn">Remove item</button>
			</div>
			{{/nodeView}}
		</div>
	</div>	
</div>	
</div>

<!-- we need this element so widgetizer does not complain... -->
<div style="display:none;">
<svg 
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:wow="http://example.org/wow"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    unselectable="on" 
    style="-webkit-user-select: none;"
    id="svg"
	tabindex='1'
	viewBox="0 0 960 600"
	width="100%"
	height="100%"
	preserveAspectRatio="none"
    >
	<g id="tempgroup" style="display:none;"></g>
</svg>	
</div>
	