<filter id="dusk">
  <feColorMatrix 
    type="matrix" 
    values="1.0 0   0   0   0
            0   0.2 0   0   0 
            0   0   0.2 0   0 
            0   0   0   1.0 0 "/>
</filter>
<filter id="drop-shadow">
    <feGaussianBlur in="SourceAlpha" stdDeviation="2.2"/>
    <feOffset dx="12" dy="12" result="offsetblur"/>
    <feFlood flood-color="rgba(0,0,0,0.5)"/>
    <feComposite in2="offsetblur" operator="in"/>
    <feMerge>
        <feMergeNode/>
        <feMergeNode in="SourceGraphic"/>
    </feMerge>
</filter>    
<filter id="glow">
    <feColorMatrix type="matrix" values=
                "0 0 0 1   0
                 0 0 0 1   0
                 0 0 0 0   0
                 0 0 0 1 0"/>
    <feGaussianBlur stdDeviation="10" result="coloredBlur"/>
    <feMerge>
        <feMergeNode in="coloredBlur"/>
        <feMergeNode in="SourceGraphic"/>
    </feMerge>
</filter>
<filter id="glow2">
    <feColorMatrix type="matrix" values=
                "0 0 0 0   0
                 0 0 0 0   0
                 0 0 0 1   0
                 0 0 0 1 0"/>
    <feGaussianBlur stdDeviation="8" result="coloredBlur"/>
    <feMerge>
        <feMergeNode in="coloredBlur"/>
        <feMergeNode in="SourceGraphic"/>
    </feMerge>
</filter>
<filter id="glow-darkness">
    <feColorMatrix type="matrix" values=
                "0 0 0 1   0
                 0 0 0 0   0
                 0 0 0 1   0
                 0 0 0 1 0"/>
    <feGaussianBlur stdDeviation="10" result="coloredBlur"/>
    <feMerge>
        <feMergeNode in="coloredBlur"/>
        <feMergeNode in="SourceGraphic"/>
    </feMerge>
</filter>
<filter id="glow2-darkness">
    <feColorMatrix type="matrix" values=
                "0 0 0 1   0
                 0 0 0 1   0
                 0 0 0 1   0
                 0 0 0 1 0"/>
    <feGaussianBlur stdDeviation="8" result="coloredBlur"/>
    <feMerge>
        <feMergeNode in="coloredBlur"/>
        <feMergeNode in="SourceGraphic"/>
    </feMerge>
</filter>