{{#yield-title}}
{{title}}
{{/yield-title}}
{{#yield-css}}
<link rel="stylesheet" href="/css/admin.bundle.css" type="text/css" /> 
{{/yield-css}}
{{#yield-script}}
<script type="text/javascript" src="/js/wow-admin.js"></script>
{{/yield-script}}
<div class="admin">
	<div class="node-preview-head">
		<div class="thumbnail">
			<img src="{{{thumbnailUrl}}}">
		</div>
		<div class="rest">
			<div>
				<div class="type-thumbnail">
					<img src="{{{typeThumbnailUrl}}}">
				</div>
				<div class="type-title"><span>{{typeTitle}}</span></div>
			</div>
			<div class="title"><span>{{title}}</span></div>
			<div class="description"><span>{{description}}</span></div>
			<div class="created">Created: <span>{{created}}</span></div>
			{{#tags}}<div class="tags">Tags: {{#tags}}<span>{{.}} </span>{{/tags}}</div>{{/tags}}
		</div>
	</div>
	<div class="admin-body">
	{{{view}}}
	</div>
</div>

<!-- we need this element so widgetizer does not complain... -->
<div style="display:none;">
<svg 
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:wow="http://example.org/wow"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    unselectable="on" 
    style="-webkit-user-select: none;"
    id="svg"
	tabindex='1'
	viewBox="0 0 960 600"
	width="100%"
	height="100%"
	preserveAspectRatio="none"
    >
	<g id="tempgroup" style="display:none;"></g>
</svg>	
</div>
	