<html>
<head>
  <title>{{title}}</title>
  <link href="/icons/PNG/fruitsalad/fruitsalad.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/css/bundle.css" type="text/css" /> 
  <link rel="stylesheet" href="/css/admin.bundle.css" />
  <script src="/js/wow-libs.js"></script>
  <script src="/js/wow-admin.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
  $(document).ready(function() {
  	var logMeIn = function() {
  		console.log("Logging user in...")
  		$("#userlogin-form").submit()
  	} 

  	var showKeyboard = function() {
  		$("#pickeyboard").show()
  	}

  	var hideKeyboard = function() {
  		$("#pickeyboard").hide()
  	}

  	var userSelected = function() {
  		console.log("User selected!")
  		var el = $(this)
  		var usesPassword = el.find("input[name=usesPassword]").val()
  		$("#userlogin-username").val(el.find("input[name=username]").val())
  		if(usesPassword != "true") {
  			logMeIn()
  		} else {
	  		$("#userlogin-password").val("")
	  		$(".userlogin-user").removeClass("active")
	  		el.addClass("active")
	  		$("#pickeyboard").picKeyboard({input:$("#userlogin-password"), onenter: logMeIn, onescape: hideKeyboard})
	  		showKeyboard()
  		}
  	}

  	$(".userlogin-user").each(function() {
  		$(this).click(userSelected)
  	})
  })
  </script>

</head>
<body>

<div class="userlogin-users">
	{{#users}}
	<div class="userlogin-user">
		<input type="hidden" name="username" value="{{username}}"></input>
		<input type="hidden" name="userid" value="{{_id}}"></input>
		<input type="hidden" name="usesPassword" value="{{usesPassword}}"></input>
		<img src="{{avatarUri}}"></img>
		<h3>{{title}}</h3>
	</div>
	{{/users}}
</div>
<div>
	<form id="userlogin-form" style="display:none;" action="/login" method="post">
		<input type="text" name="username" id="userlogin-username"></input>
		<input type="text" name="password" id="userlogin-password"></input>
		<input type="submit"></input>		
	</form>
</div>
<div id="pickeyboard"></div>


</body>
</html>