{{#yield-title}}
{{title}}
{{/yield-title}}
{{#yield-css}}
  <link href="/icons/PNG/fruitsalad/fruitsalad.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/css/admin.bundle.css" />
{{/yield-css}}
{{#yield-script}}
  <script src="/js/admin.libs.js"></script>
  <script src="/socket.io/socket.io.js"></script>
{{/yield-script}}
<div class="userlogin-background"></div>

<div class="userlogin-users">
	{{#users}}
	<div class="userlogin-user">
		<input type="hidden" name="username" value="{{username}}"></input>
		<input type="hidden" name="userid" value="{{_id}}"></input>
		<input type="hidden" name="usesPassword" value="{{usesPassword}}"></input>
		<img src="{{avatarUri}}"></img>
		<h3>{{title}}</h3>
	</div>
	{{/users}}
</div>
<div>
	<form id="userlogin-form" style="display:none;" action="/login" method="post">
		<input type="text" name="username" id="userlogin-username"></input>
		<input type="password" name="password" id="userlogin-password"></input>
	</form>
</div>
<div id="pickeyboard"></div>

<div id="adminlogin-wrapper">
  <form id="adminlogin-form" action="/login" method="post">
    <div class="adminlogin-title">
      <h2>Admin Login</h2>
      <div class="adminlogin-avatar"><img src="/assets/thumbs/admin.png"></img></div>
    </div>
    <div class="adminlogin-controls" style="display:none;">
      <div><label><span>Username: </span><input type="text" name="username" id="adminlogin-username"></input></label></div>
      <div><label><span>Password: </span><input type="password" name="password" id="adminlogin-password"></input></label></div>
      <div><button id="adminlogin-submit">Log In</button></div>
    </div>
  </form>
</div>

<script>
$(document).ready(function() {
  var logMeIn = function() {
    console.log("Logging user in...")
    $("#userlogin-form").submit()
  } 

  var showKeyboard = function() {
    $("#pickeyboard").show()
  }

  var hideKeyboard = function() {
    $("#pickeyboard").hide()
  }

  var userSelected = function() {
    console.log("User selected!")
    var el = $(this)
    var usesPassword = el.find("input[name=usesPassword]").val()
    $("#userlogin-username").val(el.find("input[name=username]").val())
    if(usesPassword != "true") {
      logMeIn()
    } else {
      $("#userlogin-password").val("")
      $(".userlogin-user").removeClass("active")
      el.addClass("active")
      $("#pickeyboard").picKeyboard({input:$("#userlogin-password"), onenter: logMeIn, onescape: hideKeyboard})
      showKeyboard()
    }
  }

  $(".userlogin-user").each(function() {
    $(this).click(userSelected)
  })

  $("#adminlogin-submit").click(function() {
    $("#adminlogin-form").submit()
  })

  $("#adminlogin-form .adminlogin-title").click(function() {
    $("#adminlogin-form .adminlogin-controls").toggle()
  })
})
</script>
