<!DOCTYPE html>
<html lang="{{translated.lang}}">
  <head>
    <meta charset="utf-8">
    <title>{{translated.title}}</title>

	<link rel="stylesheet" type="text/css" href="css/bundle.css" />    
	<link rel="stylesheet" type="text/css" href="css/style.css" />    
	<script src="js/bundle.js" type="text/javascript"></script>
	<script src="js/app.js" type="text/javascript"></script>
	<script>
	$(function() {
		var metadata = {{{wow_json}}}
		var locale = "{{translated.name}}"
		var localedata = {{{locale_json}}}

		/* localization function... */
		window.__ = function(str) {
			return localedata.labels[str] || str
		}

		var game = new {{wow.className}}()
		var gui = new GameUI(game)		

		console.log("Ready!")
		gui.init()

	})
	</script>

  </head>
  <body>
  	<style>
  	
  	</style>
  	<div class="container">
		<div class="nav">
  			<label><button class="game game-new"></button><span>{{translated.labels.Play}}</span></label>
  			<label><button class="game game-pause"></button><span>{{translated.labels.Pause}}</span></label>
  			<label><button class="game game-restart"></button><span>{{translated.labels.Restart}}</span></label>
  			<label><button class="game game-quit"></button><span>{{translated.labels.Quit}}</span></label>
  			<label><button class="game game-info"></button><span>{{translated.labels.Info}}</span></label>
  			<label><button class="game game-rules"></button><span>{{translated.labels.Rules}}</span></label>
  			<label><button class="game game-scores"></button><span>{{translated.labels.Scores}}</span></label>
  			<label><button class="game game-settings"></button><span>{{translated.labels.Settings}}</span></label>
  		</div>
  		<div class="info">
  			<div class="title">{{translated.title}}</div>
  			<div class="logs"></div>
  		</div>
  		<div class="tabs">
	  		<div class="tab" id="tab-game">
				
			</div>
	  		<div class="tab" id="tab-info">
	  			<h3>{{translated.labels.GeneralInformation}}</h3>
	  			<div class="game-preview"><img src="preview.png"></div>
	  			<div class="game-description">{{translated.info}}</div>
			</div>
	  		<div class="tab" id="tab-rules">
	  			<h3>{{translated.labels.Rules}}</h3>
	  			<div class="game-rules">{{translated.rules}}</div>
			</div>
	  		<div class="tab" id="tab-scores">
	  			<h3>{{translated.labels.Scores}}</h3>
	  			<div class="game-scores"></div>
			</div>
	  		<div class="tab" id="tab-settings">
	  			<div class="game-settings"></div>

<script type="text/javascript">
$(function() {
  $("#tab-settings .game-settings").alpaca({
    "schema": {
      "title": __("Settings"),
      "description": __("Game Settings"),
      "type": "object",
      "properties": {
        "difficulty": {
          "type": "string",
          "required": true,
          "default": "easy",
          "enum": ['easy', 'medium', 'hard']
        }
      }
    },
    "options": {
            "renderForm": true,
            "form": {
                "buttons": {
                    "submit": {}
                }
            },
            "fields": {
                "difficulty": {
                    "label": __("Difficulty"),
                    "type": "select",
                    "optionLabels": [__("Easy"), __("Medium"), __("Hard")]
                }
            }
        }
  });
});
</script>

			</div>
		</div>
		<div id="overlay"><div class="content"></div></div>
	</div>
  </body>
</html>







