{
  "name": "{{name}}",
  "version": "{{version}}",
  "description": "{{description}}",
  "main": "index.html",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "{{author}}",
  "license": "BSD-2-Clause",
  "window": {
    "toolbar": false,
    "width": 960,
    "height": 600,
    "kiosk": true
  },
  "webkit": {
  	"plugin": true
  },
  "local-web-server":{
    "port": 8100
  }
}
