<style>
#top-wrapper {
	overflow: auto;
}
</style>
<script type="text/javascript" src="/js/pages/admin.js"></script>
  <div class="admin">
<input style="display:none;" id="fileDialog" type="file" accept=".zip,application/zip" />
<input style="display:none;" id="dirDialog"  type="file" nwdirectory />
	
	<h1>Admin Page</h1>
	<div class="admin-nav">
		<a href="index.html">Back to login page</a>
	</div>
	<div class="admin-body">
		<div class="importapp panel">
			<h2>Import App</h2>
			<div class="panel-body">
				<div>
					<form method='post' action='/fileupload' enctype='multipart/form-data'>
						<label>Import app packaged in .zip archive:</label>
						<input type='file' name='archive'/>
						<input type='submit' />
					</form>
				</div>
			</div>
		</div>
		<div class="importedapps panel">
			<h2>Imported Apps</h2>
			<ul class="panel-body" id="import-list">
			</ul>
		</div>
		<div class="addvideo panel">
			<h2>Add YouTube Video</h2>
			<div class="panel-body">
				<div>
					<label><span>YouTube VideoID: </span><input type="text" id="videoid-textfield"/></label>
				</div>
				<div>
					<label><span>UserID: </span><input type="text" disabled id="videouser-textfield" value="555"/></label>
				</div>
				<div class="buttons">
					<button id="add-video-btn">Add to list</button>
				</div>
			</div>
		</div>
		<div class="uservideos panel">
			<h2>User Videos</h2>
			<ul class="panel-body" id="video-list">
			</ul>
		</div>
	</div>	
	</div>
<!-- we need this element so widgetizer does not complain... -->
<div style="display:none;">
<svg 
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:wow="http://example.org/wow"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    unselectable="on" 
    style="-webkit-user-select: none;"
    id="svg"
	tabindex='1'
	viewBox="0 0 960 600"
	width="100%"
	height="100%"
	preserveAspectRatio="none"
    >
	<g id="tempgroup" style="display:none;"></g>
</svg>	
</div>
	