<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="google" content="notranslate" />
  <link href="/css/normalize.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/css/style.css" media="all" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="/css/bundle.css" type="text/css" /> 

  <link href="/fonts/SourceSansPro.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/fonts/meteocons.css" media="all" rel="stylesheet" type="text/css" />
  <!-- third party libraries should be loaded here and then passed to the Widgetizer module... -->
  <script src="/js/wow-libs.js"></script>
  <script type="text/javascript" src="/js/bundle.js"></script>
  {{#name}}
  <script type="text/javascript" src="/js/pages/{{name}}.js"></script>
  <script>
  $(document).ready(function() {
        var pageInfo = require("pageinfo")(window)
        console.log(pageInfo)
        var i18n = new(require("i18n"))({
          locales: ['en', 'de', 'cz'],
          defaultLocale: 'en'
        })
        i18n.setLocale('de')

        /* Global utility object holding useful things together */
        var Wow = {
          window: window,
          $: $,
          _: _,
          i18n: i18n,
          SVG: SVG
        }

        /* detect and initialize input devices... */
        var MyGamepadClass = require("mygamepad")(window, $, Gamepad)
        var MyGamepad = new MyGamepadClass()

        // create widgetizer and load widgets
        var Widgetizer = require("widgetizer")(window, $, SVG)
        var pageClass = require("pagescript")(Wow)
        var page = new pageClass()
        var allData = pageInfo
        Widgetizer.useCommonWidgets()
        Widgetizer.widgetize(document, function() {
            page.init(Widgetizer, allData, function(pg) {
                // FIX to prevent backspace key from doing "go back to previous page"
                // from: http://stackoverflow.com/questions/1495219/how-can-i-prevent-the-backspace-key-from-navigating-back
                
                /*
                 * this swallows backspace keys on any non-input element.
                 * stops backspace -> back
                 */
                var rx = /INPUT|SELECT|TEXTAREA/i;

                // attach input devices to the page controller
                $(window.document)
                  .bind("keydown", function(e) {
                    pg.handleEvent(e)
                  })
                  .bind("keydown keypress", function(e) {
                  if( e.which == 8 ){ // 8 == backspace
                    if(!rx.test(e.target.tagName) || e.target.disabled || e.target.readOnly ){
                      e.preventDefault();
                    }
                  }
                });

            })
        })

  })
  </script>
  {{/name}}
</head>
<body>
<div id="top-wrapper">
{{{content}}}
</div>
</body>
</html>
