<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="google" content="notranslate" />
  <link href="/css/normalize.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/css/style.css" media="all" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="/css/bundle.css" type="text/css" /> 

  <link href="/fonts/SourceSansPro.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/fonts/meteocons.css" media="all" rel="stylesheet" type="text/css" />
  <!-- third party libraries should be loaded here and then passed to the Widgetizer module... -->
  <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="/js/jquery.history.min.js"></script>
  <script type="text/javascript" src="/js/jquery.svg.min.js"></script>
  <script type="text/javascript" src="/js/jquery.svgdom.min.js"></script>
  <script type="text/javascript" src="/js/svg.min.js"></script>
  <script type="text/javascript" src="/js/svg.easing.min.js"></script>
  <script type="text/javascript" src="/js/svg.filter.js"></script>
  <script type="text/javascript" src="/js/bundle.js"></script>
  {{#name}}
  <script type="text/javascript" src="/js/pages/{{name}}.js"></script>
  <script>
  $(document).ready(function() {
        var pageInfo = require("pageinfo")(window)
        console.log(pageInfo)
        var i18n = new(require("i18n"))({
          locales: ['en', 'de', 'cz'],
          defaultLocale: 'en'
        })
        i18n.setLocale('de')
        var Widgetizer = require("widgetizer")(window, $)
        var pagescript = require("pagescript")(window, $, SVG, i18n)
        var allData = pageInfo
        Widgetizer.useCommonWidgets()
        Widgetizer.widgetize(document, function() {
            pagescript.init(Widgetizer, allData, function(pg) {
                // FIX to prevent backspace key from doing "go back to previous page"
                // from: http://stackoverflow.com/questions/1495219/how-can-i-prevent-the-backspace-key-from-navigating-back
                
                /*
                 * this swallows backspace keys on any non-input element.
                 * stops backspace -> back
                 */
                var rx = /INPUT|SELECT|TEXTAREA/i;

                $(window.document).bind("keydown keypress", function(e){
                  if( e.which == 8 ){ // 8 == backspace
                    if(!rx.test(e.target.tagName) || e.target.disabled || e.target.readOnly ){
                      e.preventDefault();
                    }
                  }
                });

            })
        })

  })
  </script>
  {{/name}}
</head>
<body>
<div id="top-wrapper">
{{{content}}}
</div>
<div id="iframe-wrapper">
</div>
</body>
</html>
