.fruit-icon-0 { background-image: url(apple-icon.png); }
.fruit-icon-1 { background-image: url(grapefruit-icon.png); }
.fruit-icon-2 { background-image: url(starfruit-icon.png); }
.fruit-icon-3 { background-image: url(banana-icon.png); }
.fruit-icon-4 { background-image: url(kiwi-icon.png); }
.fruit-icon-5 { background-image: url(strawberry-icon.png); }
.fruit-icon-6 { background-image: url(cherry-icon.png); }
.fruit-icon-7 { background-image: url(lemon-icon.png); }
.fruit-icon-8 { background-image: url(watermelon-icon.png); }
.fruit-icon-9 { background-image: url(coconut-icon.png); }
.fruit-icon-10 { background-image: url(lime-icon.png); }
.fruit-icon-11 { background-image: url(yellow-watermelon-icon.png); }
